<%= render 'partial/navbar' %>
<div class="container">
    <div class="row row-space">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-success">
              <div class="panel-heading">
                  <div class="text-center">
                      <span style="font-size:24px;">予約受付ページ</span>
                  </div>
              </div>

              <div class="panel-body">
                  <!-- ここからフォーム -->
					
						<br>
						<div class="actions">
							<%= f.submit "保存", class: "btn btn-danger" %>
						</div>
					<% end %>
              </div>
          </div>
      　</div>
    </div>
</div>