<div class="jumbotron">
　<%= render "/partial/navbar" %>

  <div class="container">
	  <div class="row">
	　   <div class="col-md-8 col-md-offset-2 text-center">
	　     <h1>旅に気軽な出会いを求めよう!</h1>
	　     <h4><span class="top-page-title">10年後、出会った人の顔が思い出される旅にしよう!</span></h4>
	　   </div>
	　 </div>
  </div>
</div>
<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<script>
	$(function(){
		$(".navbar").removeClass("navbar-devise");
		$(".navbar").addClass("navbar-default");
	});
</script>